.signin-container {
    text-align: center;
    background-color: white;
    border-radius: 12px;
    padding: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    margin-top: 100px;
  }
  
  .heading1 {
    font-size: 32px;
    color: #4c3197;
    margin-bottom: 20px;
  }
  
  .heading2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: left;
  }
  
  label {
    font-size: 14px;
    color: #333;
    margin-bottom: 6px;
  }
  
  input {
    font-size: 14px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
  }
  
  input:focus {
    border-color: #4c3197;
  }
  
  .password-container-signin {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .password-container-signin a {
    font-size: 12px;
    color: #4c3197;
    text-decoration: none;
  }
  
  .password-container-signin a:hover {
    text-decoration: underline;
  }
  
  .button-signin {
    width: 100%;
    padding: 10px 20px;
    background-color: #4c3197;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .button-signin :hover {
    background-color: #372d70;
  }
  
  .footer-signin {
    font-size: 14px;
    margin-top: 20px;
  }
  
  .footer-signin-link {
    color: #4c3197;
    text-decoration: none;
  }
  
  .footer-signin-link:hover {
    text-decoration: underline;
  }
  